section.comment
    +grid('grid-order', '06')
    .container
        .comment-wrapper
            .row
                .col-12
                    h2 Что о нас говорят клиенты
            .hamburger
                .hamburger-block
    .comment-slider
        .comment-slide
            .comment-slide-img
                .comment-slide-img-circle
                    .comment-slide-img-img(style="background: url(./assets/img/comments_1.png)")
            .comment-slide-text
                .comment-slide-text-title Наталия Лисица
                .comment-slide-text-text Хочется выразить ОГРОМНУЮ благодарность Сергею за наш красивый и практичный шкаф. Мастер вежливый, доброжелательный, приехал с целой кучей образцов, посоветовал как лучше и гармоничнее при выборе дизайна. Мы остались очень довольны его работой. Спасибо огромное, с вами приятно иметь дело. РЕКОМЕНДУЕМ P.s. Ждём кухню) 😉
        .comment-slide
            .comment-slide-img
                .comment-slide-img-circle
                    .comment-slide-img-img(style="background: url(./assets/img/comments_2.png)")
            .comment-slide-text
                .comment-slide-text-title Дмитрий Жук
                .comment-slide-text-text Спасибо За перегородку и шкаф). Отличное качество. Отличная идея для однокомнатной квартиры (если кому интересно) Сделали все бытроЕще раз спасибо 👍
        .comment-slide
            .comment-slide-img
                .comment-slide-img-circle
                    .comment-slide-img-img(style="background: url(./assets/img/comments_3.png)")
            .comment-slide-text
                .comment-slide-text-title Юлия Герасимова
                .comment-slide-text-text ЗАКАЗЫВАЛА КУХНЮ, ОСТАЛАСЬ ОЧЕНЬ ДОВОЛЬНА: ВСЕ АККУРАТНО, БЫСТРО, НЕДОЧЕТОВ НЕТ. РЕБЯТА ИЗ BigCity мебель ДАЛИ ДЕЛЬНЫЕ СОВЕТЫ ПО УСТАНОВКЕ ВЫДВИЖНЫХ МЕХАНИЗМОВ И ПОДСВЕТКИ. УСТАНОВИЛИ НАПРАВЛЯЮЩИЕ КОМПАНИИ HETTICH (верхние шуфляды InnoTech, нижние Actro 5D). ИЗЮМИНКА МОЕЙ КУХНИ - СУШКА С НАДЕЖНОЙ СИСТЕМОЙ СКЛАДНЫХ ДВЕРЕЙ КОМПАНИИ HETTICH WingLine. БУДУ ЗАКАЗЫВАТЬ ШКАФ В ПРИХОЖУЮ. РЕКОМЕНДУЮ!!!
        .comment-slide
            .comment-slide-img
                .comment-slide-img-circle
                    .comment-slide-img-img(style="background: url(./assets/img/comments_2.png)")
            .comment-slide-text
                .comment-slide-text-title Дмитрий Жук
                .comment-slide-text-text Спасибо За перегородку и шкаф). Отличное качество. Отличная идея для однокомнатной квартиры (если кому интересно) Сделали все бытроЕще раз спасибо 👍
    .container-fluid
        .row
            .col-lg-4.offset-lg-4
                .comment-slider-arrows
                    .comment-slider-arrows-prev
                        img(src="./assets/img/slider_prev.svg", alt="prev")
                    .comment-slider-arrows-next
                        img(src="./assets/img/slider_next.svg", alt="next")
    .comment-button
        .comment-button-blur
        .comment-button-button Оставить комментарий        
            