section.example
    +grid('', '05')
    .container
        .example-wrapper
            h2 Последние реализованные проекты
            .row
                .col-12
            .example-slider
                .example-slider-item
                    img(src="./assets/img/example_1.jpg", alt="")
                    p Кухня
                    .example-slider-item-hov
                        .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
            
                .example-slider-item
                    img(src="./assets/img/example_2.jpg", alt="")
                    p Комод
                    .example-slider-item-hov
                        .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
            
                .example-slider-item
                    img(src="./assets/img/example_3.jpg", alt="")    
                    p Стенка навесная  
                    .example-slider-item-hov
                        .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
                .example-slider-item
                    img(src="./assets/img/example_4.jpg", alt="")  
                    p Тумба
                    .example-slider-item-hov
                        .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
            
                .example-slider-item
                    img(src="./assets/img/example_5.jpg", alt="")  
                    p Ванная комната
                    .example-slider-item-hov
                       .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
                .example-slider-item
                    img(src="./assets/img/example_6.jpg", alt="")  
                    p Кухня
                    .example-slider-item-hov
                        .example-slider-item-info
                            h4 Тумба
                            p размеры
                            p материалы
                            p срок
                            p стоимость
            .example-slider-buttons
                .example-slider-buttons-prev
                    img(src="./assets/img/slider_prev.svg", alt="prev")
                .example-slider-buttons-next
                    img(src="./assets/img/slider_next.svg", alt="next")
            .hamburger
                .hamburger-block