include ./../../utils/mixins.pug

section.offer
    +grid('', '02')
    .container
        .offer-wrapper 
            .row
                .col-lg-6
                    .offer-slider
                        .offer-slider-item
                            img(src="./assets/img/offer_slider_1.jpg", alt="")
                        .offer-slider-item
                            img(src="./assets/img/offer_slider_2.jpg", alt="")
                        .offer-slider-item
                            img(src="./assets/img/offer_slider_3.jpg", alt="")
                .col-lg-6
                    .offer-content
                        .offer-content-title
                            h2 Мебельная компания BigCity мебель рада предложить Вам качественную мебель по доступной цене
                        .offer-content-items
                            .offer-content-item
                                p В вашей мебели будет использована лучшая фурнитура и материалы проверенных брендов
                            .offer-content-item
                                p Наша команда профессионалов с большим опытом работы изготовит действительно качественную и удобную мебель
                            .offer-content-item
                                p Собственное производство – гарантия коротких сроков, доступных цен и высокого качества
                            .offer-content-item
                                p Заказывая мебель у нас вы будете уверены, что она прослужит вам много лет и хорошо дополнит ваш интерьер
            .hamburger
                .hamburger-block