.contact {
    .grid-counter {
        display: none;
    }
    &-wrapper {
        position: relative;
    }
    &-top {
        height: 57vh;
        background: url("./../img/contact_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: relative;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-title {
                margin-bottom: 70px;
            }
            &-social {
                margin-bottom: 48px;
                svg {
                    margin: 0 20px;
                }
            }
            &-phones {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #333333;
                }
            }
            &-button {
                width: 159px;
                height: 37px;
                position: relative;
                cursor: pointer;
                &-blur {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(180deg, rgba(230, 167, 98, 0.5) 0%, rgba(211, 159, 100, 0.5) 100%);
                    filter: blur(20px);
                    border-radius: 32px;
                    opacity: 0.5;
                    transition: 0.3s;
                }
                &-but {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #C69C6D 0%, #D39F64 100%);
                    border-radius: 32px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: -0.8px;
                    color: #333333;
                }
                &:hover {
                    .contact-top-content-button-blur {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    &-center {
        height: 13vh;
        background: #ffffff;
        &-images {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            & img {
                filter: grayscale(100%);
                opacity: 0.3;
                transition: 0.3s;
                &:hover {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }
    }
    &-bottom {
        height: 30vh;
        background: #333333;
        padding-top: 65px;
        img {
            margin-bottom: 12px;
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #EBE6E2;
        }
        &-left {
            &-reg {
                margin-top: 20px;
                & span {
                    border-bottom: 1px solid #EBE6E2;
                }
            }
        }
        &-center {
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #C69C6D;
                margin-bottom: 23px;
            }
            &-map {
                display: flex;
                flex-direction: row;
                img {
                    margin-right: 10px;
                }
                p {
                    line-height: 21px;
                }
            }
            &-phone {
                display: flex;
                flex-direction: row;
                img {
                    margin-right: 10px;
                }
                p {
                    line-height: 21px;
                }
            }
            &-social {
                margin-top: 15px;
                a {
                    margin-right: 10px;
                }
            }
        }
        &-right {
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #C69C6D;
                margin-bottom: 23px;
            }
            p {
                margin-bottom: 15px;
            }
        }

    }
}