.hamburger {
    width: 53px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 0;
    cursor: pointer;
    &-block {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #C69C6D;
        border-radius: 20px;
        &::before {
            content: '';
            display: block;
            height: 3px;
            width: 75%;
            position: absolute;
            background: #C69C6D;
            border-radius: 20px;
            top: 13px;
            right: 0;
        }
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 50%;
            position: absolute;
            background: #C69C6D;
            border-radius: 20px;
            top: 27px;
            right: 0;
        }
    }
}